@use "@styles/transition" as transition;

.container {
    position: relative;
    flex-shrink: 0;
    font-family: Inter, sans-serif;
}

.button {
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: center;

    padding: 0.5rem 0.75rem;
    border-radius: 0.8rem;

    background: transparent;

    svg {
        color: var(--text-color);
    }
}

.options {
    @include transition.default-tr;

    pointer-events: none;

    position: absolute;
    z-index: 10;
    top: 110%;
    right: 0;

    display: flex;
    flex-direction: column;

    padding: 0.5rem 0;
    border-radius: 1.2rem;

    opacity: 0;
    box-shadow: 0 8px 20px rgb(0 0 0 / 15%);

    transition-property: opacity;

    li {
        list-style: none;

        button {
            width: 100%;
            padding: 0.5rem 1rem;
            color: var(--text-color);
            background-color: transparent;

            &.selected {
                pointer-events: none;
                font-weight: 600;
            }
        }
    }

    &.open {
        pointer-events: auto;
        opacity: 1;
    }
}
