@use "@styles/utils/transition" as *;
@use "@styles/utils/breakpoints" as *;

.project-section {
    display: flex;
    flex-direction: column;
    gap: 3.2rem;

    &__title {
        text-align: center;
    }

    &__slider {
        overflow: visible;
        display: flex;
        flex-direction: column;
        gap: 1.6rem;

        width: 100%;
    }

    &__slider-pagination {
        position: static;
        width: fit-content !important;
        margin: 0 auto;
    }
}
