@use "@styles/transition" as transition;

.header {
    @include transition.default-tr;

    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;

    padding: 2.4rem 8rem;

    color: var(--text-color);

    background-color: transparent;

    transition-property: color;

    .socials {
        display: flex;
        gap: 1rem;
        justify-self: center;
    }

    .settings {
        display: flex;
        gap: 1rem;
        align-items: center;
        justify-self: end;
    }
}
