@use "@styles/utils/transition" as *;

.scrollOverride {
    --btn-padding: 0.6rem;
    --btn-radius: 50%;
    --btn-bg: var(--background-color);
    --btn-color: var(--text-color);
    --btn-border: none;
    --btn-before-bg: var(--background-contrast-color);
    --btn-hover-color: var(--text-contrast-color);

    display: inline-flex;
    align-items: center;
    justify-content: center;

    &::after {
        @include default-tr;

        pointer-events: none;
        content: "";

        position: absolute;
        inset: 0;

        border: 1px solid var(--hover-background-color);
        border-radius: 50%;

        clip-path: inset(0 0 50% 0);

        transition-property: border-color;
    }

    &:hover {
        &::after {
            border-color: transparent;
        }
    }
}
