@use "@styles/utils/transition" as *;
@use "@styles/utils/box" as *;

.post-card {
    position: relative;

    display: flex;
    flex-direction: column;

    height: 100%;
    padding: 2rem;
    border: 1px solid var(--text-color);
    border-radius: 1rem;

    color: var(--text-color);

    background: var(--background-color);

    &__link,
    &__subtitle,
    &__media {
        margin-bottom: 1.6rem;
    }

    &__media {
        @include default-tr;

        position: relative;
        z-index: 2;

        overflow: hidden;

        width: 100%;
        max-height: 40rem;
        border-radius: 1rem;

        opacity: 1;

        transition-property: max-height, opacity, margin, transform;

        img {
            @include default-tr;

            display: block;

            width: 100%;
            height: 20rem;

            object-fit: cover;

            transition-property: transform;
        }
    }

    &__trigger {
        @include default-tr;

        position: absolute;
        inset: 0;

        display: flex;
        align-items: center;
        justify-content: center;

        &-icon {
            @include default-tr;

            padding: 1.2rem;
            border-radius: 50%;

            opacity: 0;
            background-color: var(--background-color);

            transition-property: opacity;

            > svg {
                @include box(3.2rem);
                @include default-tr;

                transition-property: transform;
            }
        }

        &:hover {
            background-color: rgb(0 0 0 / 20%);

            .post-card__trigger-icon {
                opacity: 1;
            }
        }

        &:active {
            .post-card__trigger-icon {
                > svg {
                    transform: scale(1.1);
                }
            }
        }
    }

    &__title {
        @include default-tr;

        position: relative;

        display: inline;

        background-image: linear-gradient(currentcolor, currentcolor);
        background-repeat: no-repeat;
        background-position: 0 100%;
        background-size: 0% 2px;

        transition-property: background-size;
    }

    &__link {
        color: inherit;
        text-decoration: none;

        &::before {
            content: "";
            position: absolute;
            z-index: 2;
            inset: 0;
        }
    }

    &__excerpt {
        color: var(--text-color);
    }

    &.mode-compact {
        .post-card__media {
            pointer-events: none;
            max-height: 0;
            margin-bottom: 0;
            opacity: 0;
        }
    }

    &:hover {
        .post-card__media img {
            transform: scale(1.1);
        }

        .post-card__title {
            background-size: 100% 2px;
        }
    }
}
