@use "@styles/utils/breakpoints" as breakpoints;
@use "@styles/utils/transition" as transition;

.mobile-menu {
    display: none;

    @include breakpoints.tablet {
        display: block;
    }
}

.burger {
    @include transition.default-tr;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    width: 2.4rem;
    height: 2rem;
    padding: 0;
    border: none;

    background: transparent;

    transition-property: transform;

    .line {
        height: 0.3rem;
        border-radius: 0.2rem;
        background: var(--text-color);
    }

    &.open {
        transform: rotate(90deg);
    }
}

.nav {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    text-align: center;
}
