@use "sass:map";
@use "sass:meta";
@use "breakpoints";

$font-sizes: (
    h1: 4.8rem,
    h2: 3.6rem,
    h3: 2.8rem,
    h4: 2.2rem,
    h5: 1.8rem,
    h6: 1.6rem,
    body: 1.8rem,
    button: 2rem,
    glitch: 18rem,
);
$font-sizes-tablet: (
    h1: 3.2rem,
    h2: 2.6rem,
    h3: 2.2rem,
    h4: 1.8rem,
    h5: 1.6rem,
    h6: 1.4rem,
    body: 1.6rem,
    button: 1.6rem,
    glitch: 16rem,
);
$font-sizes-mobile: (
    h1: 3.2rem,
    h2: 2.6rem,
    h3: 2.2rem,
    h4: 1.8rem,
    h5: 1.6rem,
    h6: 1.4rem,
    body: 1.6rem,
    button: 1.2rem,
    glitch: 10rem,
);
$line-heights: (
    h1: 1.05,
    h2: 1.1,
    h3: 1.2,
    h4: 1.25,
    h5: 1.3,
    h6: 1.3,
    body: 1.6,
    button: 1,
    glitch: 1,
);
$line-heights-tablet: (
    h1: 1.1,
    h2: 1.15,
    h3: 1.2,
    h4: 1.25,
    h5: 1.3,
    h6: 1.3,
    body: 1.6,
    button: 1,
    glitch: 1,
);
$line-heights-mobile: (
    h1: 1.1,
    h2: 1.15,
    h3: 1.2,
    h4: 1.25,
    h5: 1.3,
    h6: 1.3,
    body: 1.65,
    button: 1,
    glitch: 1,
);

@mixin font-size($type) {
    $size: map.get($font-sizes, $type);
    $lh: map.get($line-heights, $type);

    @if $size {
        font-size: $size;
    }

    @if $lh {
        line-height: $lh;
    }

    @include breakpoints.tablet {
        $size: map.get($font-sizes-tablet, $type);
        $lh: map.get($line-heights-tablet, $type);

        @if $size {
            font-size: $size;
        }

        @if $lh {
            line-height: $lh;
        }
    }

    @include breakpoints.mobile {
        $size: map.get($font-sizes-mobile, $type);
        $lh: map.get($line-heights-mobile, $type);

        @if $size {
            font-size: $size;
        }

        @if $lh {
            line-height: $lh;
        }
    }
}

@mixin root-fonts() {
    font-size: 62.5%;

    @media (width <= 767px) {
        font-size: calc(10px + 13 * (100vw - 375px) / 447);
    }

    @media (width >= 768px) and (width <= 1023px) {
        font-size: calc(10px + 4 * (100vw - 768px) / 255);
    }

    @media (width >= 1024px) and (width <= 1360px) {
        font-size: calc(8px + 2 * (100vw - 1024px) / 336);
    }
}
