@use "utils/transition" as *;
@use "utils/typography" as *;
@use "utils/scroll" as *;

$mobile: 786px;
$tablet: 1024px;

html {
    @include custom-scroll;

    font-size: 62.5%;

    @media screen and (width <=767px) {
        font-size: calc(10px + 13 * (100vw - 375px) / 447);
    }

    @media screen and (width >=768px) and (width <=1023px) {
        font-size: calc(10px + 4 * (100vw - 768px) / 255);
    }

    @media (width >=1024px) and (width <=1360px) {
        font-size: calc(8px + 2 * (100vw - 1024px) / 336);
    }
}

body {
    --header-height: 8rem;

    overflow-x: hidden;

    font-size: 1.6rem;
    color: var(--text-color);

    background-color: var(--background-color);

    transition-property: color, background-color;

    @include default-tr;
}

.container {
    width: 100%;
    max-width: clamp(32rem, 90vw, 144rem);
    margin-inline: auto;
}

h1 {
    font-weight: 700;

    @include font-size(h1);
}

h2 {
    @include font-size(h2);
}

h3 {
    @include font-size(h3);
}

p {
    color: var(--text-color);

    @include font-size(body);
}

button {
    font-weight: 500;

    @include font-size(button);
}
