@use "transition";

html {
    font-size: 62.5%;
}

body {
    @include transition.default-tr;

    font-size: 1.6rem;
    color: var(--text-color);
    background-color: var(--background-color);
    transition-property: color, background-color;
}
