@use "transition";

html {
    font-size: 62.5%;
}
body {
    @include transition.default-tr;
    transition-property: color, background-color;
    background-color: var(--background-color);
    color: var(--text-color);
    font-size: 1.6rem;
}
