@use "sass:list";
@use "sass:meta";

@mixin default-tr($properties: all, $duration: 0.3s, $timing-function: ease, $delay: 0s) {
    @if $properties ==
        transform or
        (meta.type-of($properties) == list and list.index($properties, transform))
    {
        transform: translateZ(0);
        backface-visibility: hidden;
    }

    transition: $properties $duration $timing-function $delay;
}
