@use "@styles/utils/breakpoints" as *;
@use "@styles/utils/box" as *;

.eye {
    @include box(50rem);

    position: relative;

    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 1.2rem;

    background-color: var(--background-contrast-color);

    @include tablet {
        @include box(45rem);
    }

    @include mobile {
        @include box(40rem);
    }

    &__wrapper {
        position: relative;
        transform: translateY(-25%);

        display: flex;
        align-items: flex-end;
        justify-content: center;

        @include box(30rem);

        @include tablet {
            @include box(25rem);
        }
    }

    &__eyelash {
        position: absolute;

        width: 1.8rem;
        height: 6rem;
        border-radius: 3rem;

        background-color: var(--text-contrast-color);

        @include tablet {
            width: 1.2rem;
            height: 4.8rem;
        }
    }

    &__eyelash--type-1 {
        top: 4rem;
    }

    &__eyelash--type-2 {
        top: 5.6rem;
        transform: translateX(-10rem) rotate(-45deg);
    }

    &__eyelash--type-3 {
        top: 5.6rem;
        transform: translateX(10rem) rotate(45deg);
    }

    &__sclera {
        position: relative;

        overflow: hidden;

        width: 100%;
        height: 60%;
        border-radius: 50%;

        background-color: var(--text-contrast-color);
    }

    &__pupil {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        border-radius: 50%;

        background-color: var(--background-contrast-color);

        @include box(12rem);

        @include tablet {
            @include box(10rem);
        }
    }

    &__block {
        pointer-events: none;
        will-change: transform;

        position: absolute;

        @include box(10rem);

        border-radius: 1.2rem;

        opacity: 0.9;

        @include tablet {
            @include box(8rem);
        }

        @include mobile {
            display: none;
        }
    }

    &__block--top-left,
    &__block--top-right {
        top: -6rem;

        @include tablet {
            top: 0;
        }
    }

    &__block--bottom-left,
    &__block--bottom-right {
        bottom: -6rem;

        @include tablet {
            bottom: 0;
        }
    }

    &__block--top-left,
    &__block--bottom-left {
        left: -11rem;

        @include tablet {
            left: -10rem;
        }
    }

    &__block--top-right,
    &__block--bottom-right {
        right: -11rem;

        @include tablet {
            right: -10rem;
        }
    }

    &__block--top-left {
        background: linear-gradient(to bottom, #ff7eb3, #c77dff);
    }

    &__block--top-right {
        background: linear-gradient(to left, #6dd5fa, #2980b9);
    }

    &__block--bottom-left {
        background: linear-gradient(to top, #fbc2eb, #a6c1ee);
    }

    &__block--bottom-right {
        background: linear-gradient(to right, #84fab0, #8fd3f4);
    }

    [data-theme="dark"] & {
        .eye__block {
            filter: grayscale(1);
        }
    }
}
