@use "@styles/transition" as transition;

.button {
    --toggle-width: 5.6rem;
    --toggle-height: 2.8rem;
    --thumb-size: 2.4rem;
    --thumb-offset: 0.2rem;
    --icon-size: 1.8rem;

    background: var(--background-color);
    border: 1px solid var(--text-color);
    border-radius: 1.6rem;
    cursor: pointer;
    width: var(--toggle-width);
    height: var(--toggle-height);
    position: relative;
    padding: 0;
    transition: all 0.3s ease;

    .toggleContainer {
        position: relative;
        width: 100%;
        height: 100%;
    }

    .icons {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 0.6rem;
        z-index: 1;

        .sun,
        .moon {
            width: var(--icon-size);
            height: var(--icon-size);
            color: var(--text-color);
            transition: color 0.3s;
        }
    }

    .thumb {
        @include transition.default-tr;

        transition-property: background-color, left;
        position: absolute;
        top: 50%;
        left: var(--thumb-offset);
        width: var(--thumb-size);
        height: var(--thumb-size);
        background-color: var(--background-contrast-color);
        border-radius: 50%;
        z-index: 2;
        transform: translateY(-50%);
    }

    &[data-theme="dark"] {
        .thumb {
            left: calc(100% - var(--thumb-size) - var(--thumb-offset));
            transform: translateY(-50%);
        }
    }

    &:hover {
        border-color: var(--text-color);
        opacity: 0.9;

        .thumb {
            box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
        }
    }
}
