.nav {
    justify-self: start;

    .list {
        display: flex;
        gap: 1.6rem;

        margin: 0;
        padding: 0;

        list-style: none;

        li {
            position: relative;
        }
    }
}
