@use "@styles/utils/breakpoints" as *;
@use "@styles/utils/transition" as *;

.main-hero {
    display: flex;
    gap: 4.8rem;
    align-items: center;
    min-height: calc(100dvh - var(--header-height));

    &__content {
        display: flex;
        flex: 1 1 0;
        flex-direction: column;
        gap: 2rem;

        p {
            opacity: 0.9;
        }

        @include tablet {
            flex: unset;
            gap: 1.2rem;
            text-align: center;
        }
    }

    &__headline {
        display: flex;
        flex-direction: column;
        gap: 1.2rem;

        @include tablet {
            gap: 0;
            text-align: center;
        }
    }

    &__eye {
        display: flex;
        flex: 1 1 0;
        align-items: center;
        justify-content: flex-start;

        width: 100%;
        height: auto;

        @include tablet {
            flex: unset;
            justify-content: center;
            padding-bottom: 2.4rem;
        }
    }

    &__button {
        width: fit-content;
        margin: 2.4rem auto 0;
    }

    @include tablet {
        flex-direction: column;
        gap: 2.4rem;
        justify-content: space-evenly;
        padding-top: 2.4rem;
    }

    @include mobile {
        gap: 1.6rem;
        padding-top: 1.2rem;
    }
}
