@use "@styles/utils/transition" as *;

.posts-filter {
    position: relative;

    &__scroll {
        scrollbar-width: none;

        overflow-x: auto;
        display: flex;
        gap: 0.8rem;

        padding: 0.6rem;

        -webkit-overflow-scrolling: touch;
    }

    &__scroll::-webkit-scrollbar {
        display: none;
    }

    &__tag {
        @include default-tr;

        flex: 0 0 auto;

        padding: 0.6rem 1rem;
        border-radius: 1.6rem;

        color: var(--text-color);
        white-space: nowrap;

        background-color: var(--background-color);

        transition-property: color, background-color;

        &:hover:not(.posts-filter__tag--active) {
            background-color: var(--hover-background-color);
        }

        &--active {
            color: var(--text-contrast-color);
            background-color: var(--background-contrast-color);
        }
    }
}
