@use "@/shared/styles/utils/index" as *;

.main-posts {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    gap: 3.2rem;

    @include tablet {
        gap: 2.4rem;
    }

    @include mobile {
        gap: 1.6rem;
    }

    &__title {
        text-align: center;
    }

    &__content {
        display: flex;
        flex-direction: column;
        gap: 2.4rem;

        @include tablet {
            gap: 1.6rem;
        }

        @include mobile {
            gap: 1.2rem;
        }
    }

    &__content--hidden {
        display: none;
    }

    &__slider {
        overflow: visible !important;
        display: flex !important;
        flex-direction: column;
        gap: 1.6rem;

        width: 100%;

        @include tablet {
            gap: 1.2rem;
        }

        .swiper-slide {
            height: auto;
        }
    }

    &__slider-pagination {
        position: static;
        width: fit-content !important;
        margin: 0 auto;

        :global(.swiper-pagination-bullet) {
            background-color: var(--background-contrast-color);
        }

        :global(.swiper-pagination-bullet-active) {
            opacity: 1;
        }
    }
}
