.skeleton {
    position: relative;

    overflow: hidden;

    aspect-ratio: 16 / 9;
    width: 100%;
    min-height: 20rem;
    border-radius: 2.4rem;

    background: var(--active-background-color);

    &__shimmer {
        position: absolute;
        inset: 0;
        transform: translateX(-100%);

        background: linear-gradient(90deg, transparent, rgb(255 255 255 / 60%), transparent);

        animation: skeleton 1.4s infinite;
    }

    @keyframes skeleton {
        to {
            transform: translateX(100%);
        }
    }
}
