.interactive-text {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: center;

    @include tablet {
        align-items: center;
    }

    &__paragraph {
        @include font-size(h3);
    }

    &__fill-word {
        @include default-tr;

        cursor: pointer;
        color: var(--text-contrast-color);
        text-shadow:
            1px 1px 0 var(--text-color),
            -1px 1px 0 var(--text-color),
            1px -1px 0 var(--text-color),
            -1px -1px 0 var(--text-color);
        transition-property: color, text-shadow;

        &:hover {
            color: var(--text-color);
            text-shadow: none;
        }

        &__actions {
            display: flex;
            gap: 1rem;
            align-items: center;
            margin-top: 1rem;
        }
    }
}
