@use "@styles/utils/breakpoints" as breakpoints;

.main-screen {
    display: flex;
    gap: 4.8rem;
    align-items: center;
    padding-top: 6rem;

    @include breakpoints.tablet {
        flex-direction: column;
        gap: 2.4rem;
        justify-content: space-evenly;
        padding-top: 2.4rem;
    }

    @include breakpoints.mobile {
        gap: 1.6rem;
        padding-top: 1.2rem;
    }
}

.before {
    display: flex;
    flex: 1 1 0;
    flex-direction: column;
    gap: 2rem;

    p {
        opacity: 0.9;
    }

    @include breakpoints.tablet {
        flex: unset;
        gap: 1.2rem;
        text-align: center;
    }
}

.headline {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;

    @include breakpoints.tablet {
        gap: 0;
        text-align: center;
    }
}

.after {
    display: flex;
    flex: 1 1 0;
    align-items: center;
    justify-content: start;

    width: 100%;
    height: auto;

    @include breakpoints.tablet {
        flex: unset;
        justify-content: center;
        padding-bottom: 2.4rem;
    }
}
