.main-screen {
    display: flex;
    gap: 6rem;
    align-items: center;
    height: calc(100dvh - var(--header-height));
}

.before {
    display: flex;
    flex: 1 1 0;
    flex-direction: column;
    gap: 2rem;
}

.headline {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}

.after {
    display: flex;
    flex: 1 1 0;
}
