@use "@styles/utils/breakpoints" as *;
@use "@styles/utils/box" as *;
@use "@styles/utils/transition" as *;

.project-card {
    display: flex;
    flex-direction: column;
    gap: 1.6rem;

    padding: 1.6rem;

    background-color: var(--hover-background-color);

    &__image {
        height: 22.5rem;
        object-fit: cover;
    }

    &__headline {
        display: flex;
        flex-direction: column;
        gap: 1.6rem;
    }

    &__content {
        display: flex;
        flex-direction: column;
        gap: 3.2rem;
    }
}
